.counter_card {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.counter_card .icon img {
  width: 40px;
  height: 40px;
  background: #0e4677;
  padding: 7px;
  border-radius: 50%;
}

.counter_card h1 {
  font-weight: 600;
  margin-top: 5px;
}

/* ----------------------- */
.team_card {
  padding: 50px 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team_card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
