.technology_card {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.technology_card img {
  width: 45px;
}

.technology_card h2 {
  font-size: 17px;
  font-weight: 500;
}

.price_card {
  background: #fff;
  box-shadow: 0 8px 26px -4px rgba(88, 88, 88, 0.097),
    0 8px 9px -10px rgba(88, 88, 88, 0.097);
  height: 550px;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 40px;
  position: relative;
}

.price_card:nth-child(even) {
  z-index: 9;
}

.price_card .head {
  height: 150px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
