@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(0deg, #ffffffd4, #ffffffd4),
    url("/images/body_bg.jpg");
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

.shadow {
  box-shadow: 0 8px 26px -4px rgba(88, 88, 88, 0.097),
    0 8px 9px -10px rgba(88, 88, 88, 0.097) !important;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1180px !important;
  }
}

.active {
  color: #0e4677 !important;
}

.gradient-primary-btn {
  background-image: linear-gradient(
    90deg,
    #0e4677 0%,
    #4b8cc3 50%,
    #0e4677 100%
  );
  background-position: left center;
  color: #fff;
  padding: 6px 15px;
  border-radius: 4px;
  background-size: 200% auto;
  font-size: 15.5px;
  transition: 0.3s;
}

.gradient-primary-btn:hover {
  background-position: right center;
}

.section_text {
  font-weight: 600;
  display: inline;
  position: relative;
  color: #0e4677;
  margin-left: 20px;
}

.section_text::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 8px;
  background-color: #0e4677;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.section_text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 8px;
  background-color: #0e4677;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.top_header {
  background-image: linear-gradient(to left, #fbc31c, #fee701);
}
