.career_wrap {
  background-image: url(/images/career/career_bg.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.career {
  display: flex;
  justify-content: center;
  height: 80%;
}
